<a href="https://colab.research.google.com/github/FerJGit/TT-2C2025-Data-Analitycs-Notebooks/blob/main/_13_Clase_7/Mis_Archivos/Clase_07_NB1_Agregacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones de agregación y transformación

## Importamos un dataset de Kaggle

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rohitsahoo/sales-forecasting")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'sales-forecasting' dataset.
Path to dataset files: /kaggle/input/sales-forecasting

In [ ]:
!ls /kaggle/input/sales-forecasting

train.csv

In [ ]:
# Montar la unidad
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Ahora copiar el dataset descargado a nuestro Google Drive
import os, shutil
# Carpeta destino
dest_dir = "/content/drive/MyDrive/datasets/"

# Copiar todos los archivos del dataset al destino
for file in os.listdir(path):
    shutil.copy(os.path.join(path, file), dest_dir)

# print("Archivos copiados a:", dest_dir)
# print("Contenido:", os.listdir(dest_dir))

os.listdir(dest_dir)

['ventas.csv',
 'Prueba.xlsx',
 'satis_clientes.csv',
 'netflix_titles.csv',
 'booking_db.sqlite',
 'hotels.csv',
 'reviews.csv',
 'users.csv',
 'booking_db_nulls.sqlite',
 'train.csv']

In [ ]:
import pandas as pd

In [ ]:
# Usar el método read_csv de Pandas (pd) que recibe como argumento el archivo csv y retorna un dataframe
df = pd.read_csv("/content/drive/MyDrive/datasets/train.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

## Drop de columnas que no nos interesan

## Filtros y Transformaciones - Parte B

### Filtros convencionales

In [ ]:
# Lista solo los registros del campo State. Probar como cambia con unique

In [ ]:
# Filtrar los registros de un estado específico, por ejemplo Indiana, Illinois, Wisconsin

In [ ]:
# Filtrar los registros de un estado específico y mejorar con transformación

In [ ]:
# Filtrar los registros de un estado usando contains

In [ ]:
# Filtrar los registros de una lista de estados con isin()

In [ ]:
# Filtrar los registros de una lista de estados con isin() y mejorar con trasnformaciones

### Filtros con filter

`filter()` no usa condiciones lógicas sobre los datos (para eso se usa query(), loc[], o comparaciones booleanas).
Solo se basa en los nombres de columnas o índices.

Es muy útil para seleccionar columnas por patrón en datasets grandes.

Se puede combinar con otros métodos, por ejemplo:

In [ ]:
# Filtrar columnas por nombre exacto

In [ ]:
# Filtrar columnas que contienen una cadena de caracteres

In [ ]:
# Filtrar columnas con expresión regular

In [ ]:
# Filtrar filas (usando índices)

### Filter con query

In [ ]:
# Seleecionar las ventas mayores a 1000

In [ ]:
# Seleecionar las ventas mayores a 1000 y menores a 1500

In [ ]:
# Seleecionar las ventas mayores a 1000 del estado de Illinois

In [ ]:
# Seleccionar los registros cuyo campo State contenga california (ignorar case)

## Agregación

Las posibles agreaciones son:
* count() cuenta los valores no nulos
* sum() suma todos los valores numericos
* mean() calcula la media aritmética
* min(), max() retorna el valor más bajo, más alto
* std() retorna la medida de dispersión

In [ ]:
df.info()

In [ ]:
# Obtener las suma de las ventas registradas por categoría
df.groupby('Category')["Sales"].sum()

Category
Furniture          728658.5757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64

In [ ]:
# Obtener la suma de las ventas registradas por estado
df.groupby('State')["Sales"].sum()

State
Alabama                  19510.6400
Arizona                  35272.6570
Arkansas                 11678.1300
California              446306.4635
Colorado                 31841.5980
Connecticut              13384.3570
Delaware                 27322.9990
District of Columbia      2865.0200
Florida                  88436.5320
Georgia                  48219.1100
Idaho                     4382.4860
Illinois                 79236.5170
Indiana                  48718.4000
Iowa                      4443.5600
Kansas                    2914.3100
Kentucky                 36458.3900
Louisiana                 9131.0500
Maine                     1270.5300
Maryland                 23705.5230
Massachusetts            28634.4340
Michigan                 76136.0740
Minnesota                29863.1500
Mississippi              10771.3400
Missouri                 22205.1500
Montana                   5589.3520
Nebraska                  7464.9300
Nevada                   16729.1020
New Hampshire             7292.5240
New Jersey               34610.9720
New Mexico                4783.5220
New York                306361.1470
North Carolina           55165.9640
North Dakota               919.9100
Ohio                     75130.3500
Oklahoma                 19683.3900
Oregon                   17284.4620
Pennsylvania            116276.6500
Rhode Island             22525.0260
South Carolina            8481.7100
South Dakota              1315.5600
Tennessee                30661.8730
Texas                   168572.5322
Utah                     11220.0560
Vermont                   8929.3700
Virginia                 70636.7200
Washington              135206.8500
West Virginia             1209.8240
Wisconsin                31173.4300
Wyoming                   1603.1360
Name: Sales, dtype: float64

In [ ]:
# Obtener el promedio de las ventas promedio por segmento

In [ ]:
# Calular la suma de las ventas, agrupadas por categoría y por sub-categoría

In [ ]:
# Repetir la consulta anterior usando el método agg

In [ ]:
# Repetir la consulta anterior y agregar además la cantidad de la Sub-Category

In [ ]:
# Agrupando por Category y Sub-Category, generar 3 columnas con:
# Suma de Sales como total_sales
# Cantidad de Sales como count_sales
# Promedio de Sales como avg_sales
# Validar el promedio

In [ ]:
# A la comparacion de ventas por Categoria y Subcategoria con categoria total, agregar una columna extra con el indice

## Agregaciones y transformaciones avanzadas

In [ ]:
# Analizar que porcentaje representa cada subcategoría de su máximo